#!/bin/sh

echo ""
echo "Setting up MacOS configurations.."
echo "Set key repeat speed to max"
defaults write NSGlobalDomain KeyRepeat -int 1
#defaults write NSGlobalDomain KeyRepeat -int 0
defaults write NSGlobalDomain InitialKeyRepeat -int 10

echo "Setting up fzf completions"
$(brew --prefix)/opt/fzf/install
