#!/bin/sh
echo "Homebrew installations"

{{ if eq .chezmoi.os "darwin" -}}

echo "Starting homebrew preparations.."
eval "$(/opt/homebrew/bin/brew shellenv)"
echo ""
echo '
tap "homebrew/bundle"
tap "homebrew/core"
tap "homebrew/services"
brew "coreutils"
brew "asdf"
brew "awscli"
brew "bat"
brew "colordiff"
brew "curl"
brew "dockutil"
brew "fd"
brew "fzf"
brew "htop"
brew "git"
brew "git-lfs"
brew "imagemagick"
brew "jq"
brew "mas"
brew "ripgrep"
brew "subversion"
brew "terminal-notifier"
brew "vim"
tap "koekeishiya/formulae"
tap "homebrew/cask"
cask "google-chrome"
cask "1password"
cask "1password-cli"
cask "docker"
cask "jetbrains-toolbox"
cask "spotify"
cask "visual-studio-code"
cask "kitty"
tap "homebrew/cask-fonts"
cask "font-hack"
cask "font-hack-nerd-font"
mas "Microsoft Remote Desktop", id: 1295203466
mas "Xcode", id: 497799835
' | brew bundle install --no-upgrade --file=-

echo ""
{{ end -}}
